// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
  width: 300px;
  border: 1px solid grey;
}

#go-back {
  padding: 50px;
}

.jumbotron {
  background-color: red;
}
